.nestedGrid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-gap: 5px;
    align-content: center;
    text-align: center;
}
  
.nestedGrid > *{
border: 2px solid #000000;
background-color: #666;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}
  